-body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.employeeList{
  margin-left: 10px;
}

.employeeData{
 background-color: aquamarine;
 border:  1px solid black;
 width: fit-content;
 display: flex;
}

.employeeData div{
  border:  1px solid;
  width: 100px;
  text-align: center;
 }

 .employeeData button{
 margin-left: 12px;
 margin-right: 10px;
 border:  1px solid;
 width: 80px;

 }

 /* .s1{
  margin-left:420px ;
  background-color: aqua;
  border: 2px solid;
  
 }  

 .s2{
  margin-left:32px ;
background-color: aqua;
  border: 2px solid;
  
 }   */

 .he{
  font-size: 20px;
 }