body {
    font-family: sans-serif;
    padding: 25px;
    background-color: #e8b9e4;
    text-align: enter;
  }
  
.circle-img{
    border-radius: 50%;
    width: 120px;
    margin-right: 5px;
}

  .heading {
    text-align: center;
    font-size: 2em;
    color: #76696a;
  }
  .employeeList2{
       width: 100vw;
       display: flex;
    flex-wrap: wrap;
   
  }
  
  .card {
    border-radius: 25px;
    position: relative;
    padding: 25px 15px;
    background-color: #3bbb4f;
    margin: 50px ;
    height: 270px;
    box-shadow: 0 2px 5px #9a9292;
    text-align: left;
    width: 400px;
  }
  
  .top {
    border-radius: 25px 25px 0 0;  
    height: 100px;
    width: 100%;
    background-color: #e35075;
    position: absolute;
    top: 0;
    left: 0;
   display: flex;
  }
  
  .name {
    font-size: 25px;
    color: #2d3436;
    display: flex;
    flex: 1;
    margin: 10% 20px 0;
  }
  
  
  .bottom {
    margin-top: 70px;
  }
  
  .info {
    margin: 20px 0;
    color: #1a7e76;
  }
  
  
  
  .lb2{
    background-color: transparent;
    border: 2px solid;
    width: 100px;
    margin-left: 55px;
    
  } 
  
  
  
  
  
  
  
  
  